In [130]:
import numpy as np 
import pandas as pd

In [131]:
df = pd.read_csv("/kaggle/input/car-price-prediction/CarPrice_Assignment.csv")
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [132]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [133]:
inputs = df.drop(['car_ID','symboling','aspiration','doornumber','carbody','drivewheel', 'enginelocation', 'wheelbase','carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype','cylindernumber', 'fuelsystem', 'boreratio', 'stroke','compressionratio','peakrpm', 'citympg', 'highwaympg','price'],axis='columns')
inputs

                      CarName fueltype  enginesize  horsepower
0          alfa-romero giulia      gas         130         111
1         alfa-romero stelvio      gas         130         111
2    alfa-romero Quadrifoglio      gas         152         154
3                 audi 100 ls      gas         109         102
4                  audi 100ls      gas         136         115
..                        ...      ...         ...         ...
200           volvo 145e (sw)      gas         141         114
201               volvo 144ea      gas         141         160
202               volvo 244dl      gas         173         134
203                 volvo 246   diesel         145         106
204               volvo 264gl      gas         141         114

[205 rows x 4 columns]

In [134]:
inputs.fueltype = inputs.fueltype.map({'gas': 1, 'diesel': 0})
inputs

                      CarName  fueltype  enginesize  horsepower
0          alfa-romero giulia         1         130         111
1         alfa-romero stelvio         1         130         111
2    alfa-romero Quadrifoglio         1         152         154
3                 audi 100 ls         1         109         102
4                  audi 100ls         1         136         115
..                        ...       ...         ...         ...
200           volvo 145e (sw)         1         141         114
201               volvo 144ea         1         141         160
202               volvo 244dl         1         173         134
203                 volvo 246         0         145         106
204               volvo 264gl         1         141         114

[205 rows x 4 columns]

In [135]:
dummies = pd.get_dummies(df.CarName)
dummies

,Nissan versa,alfa-romero Quadrifoglio,alfa-romero giulia,alfa-romero stelvio,audi 100 ls,audi 100ls,audi 4000,audi 5000,audi 5000s (diesel),audi fox,...,volkswagen type 3,volvo 144ea,volvo 145e (sw),volvo 244dl,volvo 245,volvo 246,volvo 264gl,volvo diesel,vw dasher,vw rabbit
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
201,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [137]:
merged = pd.concat([inputs,dummies],axis='columns')
merged

,CarName,fueltype,enginesize,horsepower,Nissan versa,alfa-romero Quadrifoglio,alfa-romero giulia,alfa-romero stelvio,audi 100 ls,audi 100ls,...,volkswagen type 3,volvo 144ea,volvo 145e (sw),volvo 244dl,volvo 245,volvo 246,volvo 264gl,volvo diesel,vw dasher,vw rabbit
0,alfa-romero giulia,1,130,111,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,alfa-romero stelvio,1,130,111,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,alfa-romero Quadrifoglio,1,152,154,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,audi 100 ls,1,109,102,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,audi 100ls,1,136,115,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo 145e (sw),1,141,114,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
201,volvo 144ea,1,141,160,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
202,volvo 244dl,1,173,134,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
203,volvo 246,0,145,106,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
204,volvo 264gl,1,141,114,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [138]:
final = merged.drop(['CarName'], axis='columns')
final

,fueltype,enginesize,horsepower,Nissan versa,alfa-romero Quadrifoglio,alfa-romero giulia,alfa-romero stelvio,audi 100 ls,audi 100ls,audi 4000,...,volkswagen type 3,volvo 144ea,volvo 145e (sw),volvo 244dl,volvo 245,volvo 246,volvo 264gl,volvo diesel,vw dasher,vw rabbit
0,1,130,111,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,130,111,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,152,154,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,109,102,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,136,115,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1,141,114,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
201,1,141,160,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
202,1,173,134,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
203,0,145,106,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
204,1,141,114,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [140]:
target = df.price
target

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [141]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [142]:
model.fit(final,target)

LinearRegression()

In [143]:
model.predict(final)

array([13495.265625, 16499.921875, 16499.875   , 13949.796875,
       17701.671875, 15249.96875 , 17458.265625, 18919.984375,
       23874.9375  , 17859.140625, 16677.421875, 16677.421875,
       20969.859375, 25980.640625, 24564.921875, 30759.75    ,
       41315.03125 , 32004.265625,  5150.90625 ,  6294.9375  ,
        6574.984375,  5571.984375,  6376.9375  ,  7956.9375  ,
        6228.953125,  6691.953125,  7608.921875,  8557.953125,
        8920.953125, 12963.96875 ,  7430.96875 ,  6991.9375  ,
        6646.03125 ,  6528.96875 ,  6991.9375  ,  7294.90625 ,
        7294.9375  ,  9094.953125,  9094.953125,  8844.921875,
        9094.953125, 10745.875   , 10344.953125,  6784.96875 ,
        8511.3125  ,  8916.453125, 11453.109375, 32250.015625,
       35550.      , 36000.015625,  5194.9375  ,  6094.9375  ,
        6794.921875,  7028.5625  ,  8048.484375,  8543.859375,
       12224.625   , 14436.765625, 15644.9375  , 11245.421875,
        8494.953125, 10594.96875 ,  9911.375   , 10141.28125 ,
       11245.421875, 17900.34375 , 17552.171875, 25551.859375,
       28247.875   , 28175.90625 , 31599.875   , 34183.984375,
       35055.984375, 40960.      , 45400.015625, 16502.9375  ,
        5388.984375,  6188.96875 ,  5642.15625 ,  8026.6875  ,
        9731.0625  ,  8973.984375, 13734.171875, 14056.34375 ,
       14264.765625,  6988.984375,  8188.953125,  9200.46875 ,
        9731.0625  ,  5498.984375,  7098.859375,  6336.90625 ,
        7173.953125,  7348.953125,  7298.9375  ,  7798.953125,
        7173.953125,  7998.953125,  8258.484375,  9260.953125,
        9548.984375, 13498.953125, 14398.9375  , 13498.96875 ,
       17198.96875 , 19699.      , 18389.40625 , 14715.59375 ,
       13199.890625, 12439.96875 , 16973.609375, 14618.21875 ,
       17083.5     , 14618.21875 , 17074.921875, 14715.59375 ,
       16973.609375, 17966.296875,  5900.453125,  7956.953125,
        5900.453125,  6691.96875 ,  7608.96875 ,  8920.9375  ,
       12763.984375, 22017.921875, 32527.9375  , 30437.171875,
       37027.96875 , 34991.171875,  9294.953125,  9894.96875 ,
       14017.9375  , 13604.921875, 13604.921875, 15612.9375  ,
       18047.      , 16452.      ,  5432.21875 ,  8018.6875  ,
        8018.6875  ,  6811.625   ,  7774.953125,  9959.9375  ,
        9232.9375  , 11258.9375  ,  7462.9375  , 10197.9375  ,
        8456.8125  ,  9868.5625  ,  5347.953125,  6635.625   ,
        6444.625   ,  6917.953125,  7897.9375  ,  8777.9375  ,
        8248.046875,  7241.28125 ,  7748.765625,  7061.4375  ,
        7432.28125 ,  6744.953125,  8248.046875,  7615.75    ,
        7432.28125 ,  9297.921875,  9537.96875 ,  8448.96875 ,
       12241.96875 , 11017.5     , 11198.953125, 12241.96875 ,
       17668.96875 ,  9444.78125 , 10697.875   , 10132.109375,
        9444.78125 , 10947.875   , 17000.125   , 16816.65625 ,
       14661.453125, 15749.9375  ,  7774.859375,  7974.921875,
        7994.875   ,  8194.9375  ,  8494.96875 ,  9494.875   ,
       11434.515625, 11594.984375,  9979.96875 , 13294.9375  ,
       13844.859375, 10850.34375 , 14892.4375  , 15110.296875,
       17162.203125, 16514.953125, 21317.5625  , 18949.9375  ,
       14892.4375  , 17349.625   , 20307.609375, 22469.921875,
       19727.421875])

In [144]:
model.score(final,target)

0.9842464047186495